*{	
    margin: 0;	
    padding: 0;	
}

header, nav{	
    margin: 5px 10%;	
}	

nav{	
    background: #484848;	
    height: 50px;	
    border-radius: 5px;	
}	

nav ul{	
    position: relative;	
    height: 50px;	
    list-style-type: none;
}	
nav ul li{	
    float: left;	
    border-right: 1px solid #ccc;	
    border-left:1px solid #333;	
}	

nav ul li a{	
    display: block;	
    padding: 0 25px;	
    line-height: 50px;	
    color: #f1f2f3;	
    text-decoration: none;	
}	
nav ul li:first-child {	
    border-left: none;	
}	
nav ul li:hover > a{	
    background: red;	
    opacity: 0.7;	
    color: yellow;	
}	
/*menu con*/

nav li>ul{	
    display: none;
    width: 280px;	
    position: absolute;	
}	

nav li>ul li{	
    width: 100%;	
    border: none;	
    border-bottom: 1px solid #ccc;	
    background: #999;	
}	

nav li>ul li:first-child a{	
    border-bottom-left-radius: 0px;	
    border-top-left-radius: 0px;	
}	
nav li>ul li:last-child {	
    border-bottom-left-radius: 5px;	
    border-bottom-right-radius: 5px;	
}	
nav li>ul li:last-child a{	
    border-bottom-left-radius: 5px;	
    border-bottom-right-radius: 5px;	
}	
nav>ul li:hover ul{	
    display: block;	
}	