*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
}
p{
    display: inline;
}

div:first-child{
    background-color: orange;

    opacity: 0.7;
    position: static;
}

div:nth-child(2){
    background-color: yellow;
    position: fixed;
    left: 110px;
    opacity: 0.7;

} 

div:nth-child(3){
    background-color: red;
    position: sticky;
    left: 220px;
    opacity: 0.7;

}
div:nth-child(3)::before{
    content: "sticky";
    position: absolute;
    left:35px;
}
div:nth-child(4){
    background-color: green;
    position: relative;
    top:60px;
    left: -150px;
    opacity: 0.7;

}
div:nth-child(5){
    background-color: blue;
    position: absolute;
    top: 60px;
    left: 170px;
    opacity: 0.7;

} 
